<!-- Override browser rounded progress -->
<style>
	progress::-webkit-progress-value {
		border-radius: 0 !important;
	}
	progress::-moz-progress-bar {
		border-radius: 0 !important;
	}
</style>

<div
	id="album-{{ album.id }}"
	class="card-sm bg-base-100 w-auto hover:shadow-xl rounded-none"
	x-show="search.trim() === '' || '{{ album.title.lower() }}'.includes(search.toLowerCase()) || '{{ album.artist.lower() }}'.includes(search.toLowerCase()) || '{{ album.year }}'.toString().includes(search.toLowerCase())"
	x-transition
	hx-get="/album/{{album.id}}"
	hx-target="#card-view"
>
	{% if album.cover %}
	<figure class="relative w-auto overflow-hidden group">
		<img
			src="{{ album.cover }}"
			alt="{{ album.title }}"
			class="w-full object-contain"
		/>
		<!-- Overlay buttons -->
		<div
			class="absolute inset-0 z-10 flex justify-center backdrop-blur-sm bg-black/30 opacity-0 group-hover:opacity-100 transition-opacity space-x-6"
		>
			<button
				class="btn-squre btn-lg text-2xl"
				hx-get="/form/{{album.id}}"
				hx-target="#modal"
			>
				✏️
			</button>
			<button
				class="btn-squre btn-lg text-2xl"
				hx-delete="/delete/{{album.id}}"
				hx-swap="{{ 'outerHTML' if album else 'beforeend' }}"
				hx-target="#album"
			>
				🚮
			</button>
		</div>
	</figure>

	{% endif %}

	<div class="card-body">
		<h2 class="card-title">{{ album.artist }}</h2>

		<p class="text-sm">{{ album.title }}</p>

		<div class="flex justify-between items-center mt-1">
			<span>{{ album.year }}</span>

			<span>
				{% set progress_class = 'progress-success' if album.rating >= 75 else
				'progress-warning' if album.rating >= 50 else 'progress-error' %} {{
				album.rating }}
				<progress
					class="progress {{progress_class}} w-10 rounded-none"
					value="{{ album.rating }}"
					max="100"
				></progress>
			</span>
			<!-- {% if album.rating | int > 70 %} -->
			<!-- ⭐ -->
			<!-- {% endif %} -->
		</div>
	</div>
</div>
