<div class="fixed inset-0 bg-black/50 flex items-center justify-center z-50">
	<div
		class="bg-base-100 text-base-content rounded-lg shadow-lg w-full max-w-md p-6"
	>
		<h2 class="text-xl font-semibold mb-4">
			{{ "Edit Album" if album else "Add Album" }}
		</h2>

		<form
			hx-post="{{ action }}"
			hx-target="{{ '#album-' ~ album.id if album else '#albums' }}"
			hx-swap="{{ 'outerHTML' if album else 'beforeend' }}"
			hx-on="htmx:beforeRequest: this.closest('.modal, .fixed')?.remove()"
		>
			<div>
				<fieldset class="fieldset">
					{% for attr in ['title','artist','year','cover', 'rating'] %} {% set
					input_type = 'number' if attr in ['year', 'rating'] else 'url' if attr
					== 'cover' else 'text' %}
					<div class="block">
						<label class="fieldset-legend">{{attr|capitalize }}</label>
						<input
							name="{{attr}}"
							value="{{ album[attr] if album }}"
							type="{{input_type}}"
							class="input input-md validator w-full"
							placeholder="Type here"
							
							{%if attr=="rating"	%}
							min="0"
							max="100"
							{%endif%}
						/>
					</div>
					{%endfor%}
				</fieldset>

				<div class="flex justify-end space-x-2 pt-4">
					<button
						type="button"
						class="px-4 py-2 rounded border"
						onclick="this.closest('.fixed').remove()"
					>
						Cancel
					</button>
					<button
						type="submit"
						class="px-4 py-2 rounded bg-blue-600 text-white hover:bg-blue-700"
					>
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
