<div
	hx-get="/album/{{album.id}}"
	class="fixed inset-0 bg-black/50 flex items-center justify-center z-50"
	x-data="{ showAlbum: true }"
	x-show="showAlbum"
	@keydown.escape.window="showAlbum=false"
>
	<div
		class="bg-base-100 text-base-content rounded-lg shadow-lg w-full w-auto max-w-full p-6"
	>
		<h2 class="text-xl font-semibold mb-4">{{ album.title }}</h2>
		<div class="card card-side bg-base-100 shadow-sm">
			<!-- LEFT: fixed-size image -->
			<figure class="rounded-none w-half h-half shrink-0">
				<img
					src="{{ album.cover }}"
					alt="Album Cover"
					class="w-full h-full object-cover"
				/>
			</figure>

			<!-- RIGHT: same fixed height as image -->
			<div class="card-body flex-1 p-4 overflow-hidden">
				<!-- LIST: forced to fit inside the fixed height -->
				<ul
					class="list bg-base-100 rounded-box shadow-md w-full h-full overflow"
				>
					{% for track in tracks %}
					<li
						class="list-row flex items-center justify-between p-1 gap-2 text-sm truncate"
					>
						<div class="truncate flex-1">
							{{track.id}}. {{track.track_title}}
						</div>
						<div class="opacity-70 shrink-0">{{track.duration}}</div>
						<button
							class="btn btn-square btn-ghost shrink-0 min-w-0 truncate flex-1"
						>
							<svg
								class="size-[1.2em]"
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 24 24"
							>
								<g
									stroke-linejoin="round"
									stroke-linecap="round"
									stroke-width="2"
									fill="none"
									stroke="currentColor"
								>
									<path
										d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"
									></path>
								</g>
							</svg>
						</button>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
